#slogan {
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/featured/restaurant-background-2ez77umko2vj5w02.jpg);
    background-size: cover;
    position: relative;

    .navbarMenu {
        background: transparent;
        color: rgb(255, 255, 255);
        padding: 3rem;
    }

    .logo {
        border: 2px solid white;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

    .lists {
        font-size: 16px;

        ul {
            display: flex;
            justify-content: end;
            gap: 40px;
            list-style-type: none;

            li:hover {
                cursor: pointer;
            }
        }

      


    }
}

.book {
    background-color: #FFB400;
    position: absolute;
    bottom: 0;
    left: 110px;
    padding: 50px;

    input {
        width: 90%;
        background-color: transparent;
        border: 2px solid black;
        padding: 15px;
    }

    select {
        width: 90%;
        background-color: transparent;
        border: 2px solid black;
        padding: 15px;
    }
}

.adminlist {
    list-style-type: none;
}

.menuIcon {
    display: none;
}

@media only screen and (max-width: 1006px) {
    .menuIcon {
        display: flex;
        align-items: center;
        font-size: x-large;
        width: 6rem;
        background-color: transparent;
        color: white;
        border: none;
    }

    .lists {

        ul {
            li {
                display: none;
            }
        }
    }

}
#chefSlogan {
    width: 100%;
    height: auto;
}

.chefImage {
    img {
        width: 100%;
        height: 100%;
    }
}

.chefAbout {
    display: flex;
    align-items: center;

    .chefAbout-box {
        width: 60%;
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
}
#menu {
    height: auto;
    .image {
        width: 70px;
        height: 70px;
        border-radius: 9999px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 9999px;
        }
    }
    .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border: 1px solid black;
    }
}
.menu__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: s;
}

.card-container{
    display: flex;
    gap: 20px;
}
.tablebox{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.addPage {
    height: 100vh;
}

table, th, td, tr {
    border:1px solid black;
    border-collapse: collapse;
}
table {
    width: 100%;
}

.editPageBg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

